<section class="modal">
	<header>
		<a class="close">×</a>
		<h2>New mail</h2>
	</header>
  
  <%= simple_form_for @message do |f| %>
    <div class="floats">
      <%= f.label :from%>
      <%= f.text_field :from%>
    </div>
    <span class="arrow">➤</span>    
    <div class="floats">    
      <%= f.label :to%>
      <%= f.text_field :to%>
    </div>    
<br class="clear"/>
    <%= f.input :subject %>
    <%= f.input :content %>
    <%= f.input :arrived_at, 
      :as => :string, 
      :requred => true, 
	  :label => "When should the mail arrive?",
      :default => 1.week.from_now, 
      :start_year => Date.today.year%>
    <%= f.button :submit, :value => "Create mail" %>
  <% end %>
</section>