<section class="modal">
  <a class="close">×</a>
  <%= simple_form_for @message do |f| %>
    <%= f.input :from, :class => "float" %>
    <%= f.input :to, {:class => "float" }%>
    <%= f.input :subject %>
    <%= f.input :content %>
    <%= f.input :arrived_at, 
      :as => :date, 
      :requred => true, 
      :default => 1.week.from_now, 
      :start_year => Date.today.year%>
    <%= f.button :submit %>
  <% end %>
</section>