<tr>
  <td><a href="#"><%=message.subject%></a></td>
  <td>
    <time datetime=<%=message.arrived_at.strftime("%y %m %d")%>>
      <%=message.arrived_at.strftime("%a, %d %b %Y")%>
    </time>
  </td>
  <td>
    <time datetime=<%=message.created_at.strftime("%y %m %d")%>>
      <%=message.created_at.strftime("%a, %d %b %Y")%>
    </time>
  </td>
</tr>
