<tr>
  <td><a href="view.html"><%=message.subject%></a></td>
  <td>
    <time datetime=<%=message.sending_date.strftime("%a, %d %b %Y")%>>
      <%=message.sending_date.strftime("%a, %d %b %Y")%>
    </time>
  </td>
  <td>
    <time datetime=<%=message.created_at.strftime("%a, %d %b %Y")%>>
      <%=message.created_at.strftime("%a, %d %b %Y")%>
    </time>
  </td>
</tr>
