<section class="modal" id="show-mail">
	<header>
		<h2><%= message.subject %></h2>
		<a class="close">×</a>
	</header>
	
	<div id="meta-container">
		<table id="meta">
			<tr><td>From</td><td><%=message.from%></td><td>Created at</td>
			  <td><time datetime=<%=message.created_at.strftime("%y %m %d")%>>
      <%=message.created_at.strftime("%a, %d %b %Y")%>
    </time></td></tr>
			<tr><td>To</td><td><%=message.to%></td>
			  <%if message.sent%>
			    <td>Arrived at</td>
			  <%else%>
			    <td>Arrives on</td>
			  <%end%>
			  <td><time datetime=<%=message.arrived_at.strftime("%y %m %d")%>>
      <%=message.arrived_at.strftime("%a, %d %b %Y")%>
    </time></td></tr>
		</table>
	</div>
	
	<div id="mail-content">
		<p><%= message.content %></p>
		
	</div>
	
</section>