<%=content_for :head do %>
  <%= stylesheet_link_tag 'jquery/jquery-ui.min', :media => 'screen, projection'%>
  <%= javascript_include_tag "jquery-ui.min", :cache => true %>
<%end%>

<% @body_class = "home"%>

<%=content_for :header do%>
  <%= render :partial => "navigation" %>
<%end%>
<%= render :partial => "statistics" %>

		<section>
			<div id="toggle-view">
				<%=link_to "Not Sent", messages_path(:sent => false)%>
        		<%=link_to "Sent", messages_path(:sent => true)%>
			</div>
					
			<% if(params[:sent]) %>
				<h2>Sent</h2>
			<%else%>
				<h2>Queue</h2>
			<%end%>
			
			<% if current_user.messages.count%>
			<table class="list">
				<thead>
					<tr><td>Subject</td><td>Arrives on</td><td>Created at</td></tr>
				</thead>
							
				<tbody>
				  <%=render @messages %>
				</tbody>
			
			</table>
			<%= will_paginate @messages %>
			
			<% end %>
		</section>
		
		<%= render :partial => "sidebar" %>
		<%= render :partial => "show"%>
		
