<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Remind-a-Mail</title>
  	<meta name="description" content="Ever wanted to e-mail your future self that important information? Now you can." />
	<meta name="author" content="Seivan and Johan" />
	<meta name="Copyright" content="Seivan and Johan 2010" />
	<meta name="DC.title" content="Remind-a-Mail" />
	<meta name="DC.subject" content="Ever wanted to e-mail your future self that important information? Now you can." />
	<meta name="DC.creator" content="Seivan and Johan" />
	
	<link rel="shortcut icon" href="/favicon.png"/>
	<link rel="apple-touch-icon-precomposed" href="/images/iOS-icon.png"/>
	
  <%= stylesheet_link_tag 'compiled/master.css', :media => 'screen, projection'%>
  <!-- jQuery -->
  <%= javascript_include_tag "jquery.min.js", "rails", "jquery.lightbox_me", "application", :cache => true %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body id="www-domain-com" class="<%= @body_class %>">

	<div class="inner">

	<header role="banner">
		
		<h1><%= link_to("Remind-à-Mail", root_path) %></h1>
    <%= yield :header %>
  </header>

  <section role="main">
    <%= yield %>
  </section>

  <footer role="contentinfo">
		<small>Created by <a href="http://twitter.com/seivanheidari" title="Seivan 'Madman' Heidari">Seivan</a> & <a href="http://twitter.com/johanbrook" title="Johan 'The Butcher' Brook">Johan</a> 2010</small>
	</footer>
	
	</div>
  <!-- don't forget Google Analytics -->
</body>
</html>
